<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

  {% block title %}
  <title>FeiLunzhou</title>
  {% endblock %}

  {% block extra_head %}
  {% endblock %}
</head>

<body id="body">
    {% block header %}
    <div id="header">
    </div>
    {% endblock %}

    {% block content %}
    <div id="content">
        <h1 id="title">My name is Fei Lunzhou</h1>
    </div>
    {% endblock %}

    {% block footer %}
    <div id="footer">
    </div>
    {% endblock %}
</body>

</html>
